{% extends 'base.html' %}

{% block content %}

    <style>
        h1{
            padding: 50px;
            text-align: center;

        }
        body{
            background-color: azure;
        }
    </style>

       <h1>Products</h1>
       <div class="row">
           {% for product in products %}
           <div class="col">
               <div class="card" style="width: 18rem;">
                   <img src="{{ product.image_url }}" class="card-img-top" alt="product name">
                   <div class="card-body">
                       <h5 class="card-title">{{ product.name }}</h5>
                       <p class="card-text">{{ product.price }}€</p>
                       <a href="#" class="btn btn-primary">Ajouter au panier</a>
                   </div>
               </div>
           </div>
           {% endfor %}
       </div>

{% endblock %}